/out/
*.class
*.ctxt
*.pkg
*.pkh
.bluej
bin/*


/bin/
/resources/agenda.csv
/resources/personales-relacion.txt
/personales-relacion.txt
/.idea/artifacts/AgendaContactosFases_SOL_jar.xml
/src/META-INF/MANIFEST.MF
